body{
    padding: 0;
    margin: 0;
}

/* #page {
    display: flex;
    flex-direction: column;
    flex: 1
} */

header {
    background-color: #53F63D;

    border-bottom: 1px solid #333;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header a {
    margin-left: 10px;
}

header a img {
    width: 25px;
    height: 25px;
}

header h1 {
    margin: 15px 0px;

    font-size: 20px;

    width: 100%;

    text-align: center;
}


#lista {
    background-color: #f0f0f5;

    width: 100%;
    height: 100%;
}

#lista li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-height: 60px;

    list-style: none;

    border: 1px solid #333;
}

#lista li .treino {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-left: 10px;
}

#lista li .treino div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#lista li .treino div p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

#lista li .treino div p + p {
    margin-left: 0px;
    
    font-size: 14px;
    font-weight: normal;
}

#lista li .treino p {
    margin: 1px 0;
    font-size: 14px;
}

#lista li a {
    margin: 15px;
}

#lista li a img {
    width: 20px;
    height: 20px;
}
