body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 90vh;
}

#principal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70px;
  z-index: 0;
  background-color: white;
}

#principal #pagina {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

#principal #pagina header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#principal #pagina header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#user-info {
  margin-left: 10px;
}

#user-info strong {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

#user-info span {
  color: #999;
}