a{
	text-decoration: none;
}

.perfil{
	position: absolute;
	width: 90%;
	top: 90px;
	left: 5%;
}

.dadospessoais{
	position: absolute;
	height: 300px;
	width: 96%;
	top: 110px;
	left: 2%;
}

.localizacao{
	position: absolute;
	height: 300px;
	width: 96%;
	top: 460px;
	left: 2%;
}

.dadosdelogin{
	position: absolute;
	height: 300px;
	width: 96%;
	top: 840px;
	left: 2%;
}

header{
	position: fixed;
	height: 70px;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #53f63d;
	color: #fff;
	border-bottom: 2px solid #000;
}

.voltar{
	position: fixed;
	top: 15px;
	left: 15px;
}

#salvar1,#salvar2,#salvar3{
	margin-left: 80%;
}