a{
	text-decoration: none;
}

.rodape{
	position: absolute;
	height: 90px;
	width: 99%;
	top: 85%;
	left: 2px;
	border: 3px solid #000;
	background-color: #000;
	color: #fff;
}

#comtreinos{
	position: absolute;
	height: 85%;
	width: 98%;
	top: 80px;
	left: 1%;
	display: none;
}

#semtreinos{
	position: absolute;
	height: 85%;
	width: 98%;
	top: 80px;
	left: 1%;
	display: block;
}

#treino{
	position: absolute;
	height: 100px;
	width: 98%;
	top: 10px;
	left: 1%;
	border: 1px solid #000;
	border-radius: 20px;
}

#imagem{
	position: absolute;
	height: 60px;
	width: 70px;
	top: 20px;
	left: 15px;
}

#dados{
	position: absolute;
	height: 90px;
	width: 75%;
	top: 5px;
	left: 25%;
}

header{
	position: fixed;
	height: 70px;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #53f63d;
	color: #000;
	border-bottom: 2px solid #000;
}

#check{
	display: none;
}			

#icone{
	cursor: pointer;
	padding: 15px;
	position: fixed;
	height: 40px;
	width: 40px;
	top: 5px;
	left: 5px;
	z-index: 1;
}	

#check:checked ~ #icone2{
	position: fixed;
	height: 40px;
	width: 40px;
	z-index: 1;
}

.barra{
	position: fixed;
	background-color: #53f63d;
	height: 652px;
	width: 300px;
	color: #000;
	top: -2px;
	transition: all .2s linear;
	left: -10002px;
	z-index: 1;
	border: 2px solid #000;
}

nav{
	width: 100%;
	position: fixed; 
	top: 180px;
}

.link{
	background-color: #53f63d;
	width: 100%;
	height: 65px;
	font: 'Arial';
	font-size: 15pt;
	transition: all .2s linear;
	color: #000;
	opacity: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.link:hover{
	background-color: #f0f0f0;
	color: #000;
}

#check:checked ~ .barra{
	transform: translateX(10000px);
}

#check:checked ~ .barra nav a .link{
	opacity: 1;
	margin-top: 0;
}